a{
    padding-top: 10px;
    margin-top: 10px;
    text-decoration: none;
}

a:hover{
    color: #f7ade7;
}

#hi{
    padding-top: 10px;
}

.list{
    padding-top: 181px;
}

body{
    background: linear-gradient(to left, rgb(255, 211, 218), rgb(210, 255, 210));
}